<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3"
>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="dropdown">
      <button
        class="btn btn-sm btn-outline-secondary dropdown-toggle"
        type="button"
        id="userDropdown"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <i class="fas fa-user"></i>
        <% if (typeof user !== 'undefined' && user.username) { %> <%=
        user.username %> <% } else { %> کاربر <% } %>
      </button>
      <ul
        class="dropdown-menu dropdown-menu-end"
        aria-labelledby="userDropdown"
      >
        <li>
          <a class="dropdown-item" href="/admin/profile"
            ><i class="fas fa-user-cog"></i> پروفایل</a
          >
        </li>
        <li><hr class="dropdown-divider" /></li>
        <li>
          <a class="dropdown-item" href="#" id="logout-link"
            ><i class="fas fa-sign-out-alt"></i> خروج</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
